<div class="p-10 bg-gray-800 h-screen">
    <div class="w-11/12 md:w-1/2 lg:w-1/3 mr-auto ml-auto">
        <div class="flex items-center justify-center">
            <img class="w-14 gsap-logo" src="/assets/img/Logo.png" alt="Logo Equinoccio">
            <h1 class="gsap-titulo text-gray-300 text-4xl text-center ml-1"> Contáctanos </h1>
        </div>
        <div class="gsap-formulario">
            <div class="mt-4 lg:flex lg:items-center">
                <div class='w-full'>
                    <p class="text-gray-300 leading-10 font-semibold"> Apellido</p>
                    <input class="w-full rounded border border-gray-300 bg-gray-800 p-2 text-gray-300 focus:outline-none focus:border-yellow-300 focus:text-yellow-300" type="text">
                </div>
                <div class="mt-2 lg:mt-0 lg:ml-2 w-full">
                    <p class="text-gray-300 leading-10 font-semibold"> Nombre </p>
                    <input class="w-full rounded border border-gray-300 bg-gray-800 p-2 text-gray-300 focus:outline-none focus:border-yellow-300 focus:text-yellow-300" type="text">
                </div>
            </div>
            <div class="mt-2 w-full">
                <p class="text-gray-300 leading-10 font-semibold"> Tu correo electrónico </p>
                <input class="w-full rounded border border-gray-300 bg-gray-800 p-2 text-gray-300 focus:outline-none focus:border-yellow-300 focus:text-yellow-300" type="text">
            </div>
            <div class="mt-5">
                <p class="text-gray-300 font-semibold"> Asunto </p>
                <input type="text" class="border rounded mt-2 p-2 focus:border-yellow-300 border-gray-300 bg-gray-800 w-full focus:outline-none focus:text-yellow-300">
            </div>
            <div class="mt-5">
                <p class="text-gray-300 font-semibold"> Mensaje </p>
                <textarea class="w-full mt-2 border border-gray-300 bg-gray-800 rounded p-3 text-gray-300 focus:outline-none focus:text-yellow-300 focus:border-yellow-300" name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="lg:flex lg:items-center">
                <button class="mt-4 lg:mt-0 w-full lg:w-1/2 border border-gray-300 text-gray-300 p-2 rounded text-xl hover:text-yellow-300 hover:border-yellow-300"> Enviar mensaje </button>
                <button routerLink="/home" class="mt-4 w-full lg:w-1/2 border border-gray-300 text-gray-300 p-2 rounded text-xl hover:text-yellow-300 hover:border-yellow-300 lg:ml-2 mb-4"> Regresar </button>
            </div>
        </div>
    </div>
</div>