<div class="mr-auto ml-auto mt-5 w-full">
    <div class="md:w-1/2 md:w-160 mr-auto ml-auto p-4">
        <div class="flex items-center justify-center">
            <div class="text-white leading-6 text-md text-center">
                <div class="flex items-center justify-center">
                    <img src="assets/img/Logo.png" class="gsap-logo w-14" alt="Logo Image">
                    <h2 class="gsap-titulo ml-1 text-gray-300 text-3xl"> ¿Quiénes somos? </h2>
                </div>
                <div class="gsap-contenido">
                    <p class="mt-4 leading-10">
                        Somos un startup Argentina creada en el año 2021. Su nacimiento se produce en un momento muy difícil a nivel mundial en el cual la tecnología pasa a ocupar un papel fundamental.
                    </p>
                    <p class="mt-2 leading-10">
                        <span class="text-yellow-300 font-semibold"> Equinoccio Technology </span> se crea con el objetivo de acompañar el fortalecimiento de la sociedad, desarrollando productos y servicios tecnológicos propios para <span class="text-yellow-300 font-semibold"> colocar al alcance de todos, la revolución digital que se aproxima. </span>
                    </p>
                    <button routerLink="/home" class="mt-8 w-full lg:w-1/2 border border-gray-300 text-gray-300 p-2 rounded text-xl hover:text-yellow-300 hover:border-yellow-300 lg:ml-2 mb-4"> Regresar </button>
                </div>
            </div>
        </div>
    </div>
</div>