<div class="h-screen container mr-auto ml-auto">
    <div>
        <div class="gsap-header flex items-center p-8 justify-center w-full bg-gray-800">
            <img class="w-14 gsap-logo" src="/assets/img/Logo.png" alt="Logo Equinoccio">
            <h1 class="gsap-titulo text-white text-2xl md:text-2xl ml-1"> Productos y servicios </h1>
        </div>
        <div class="gsap-contenido flex items-center justify-center text-center">
            <div class="bg-cover cursor-pointer w-1/2 h-96 mr-auto ml-auto flex items-center justify-center" style="background-image:url(assets/img/sistemas.jpg);">
                <div class="bg-gray-800 bg-opacity-80">
                    <p class="text-gray-300 bg-gray-800 bg-opacity-40 text-4xl font-semibold w-full p-10"> Desarrollo de software </p>
                </div>
            </div>
            <div class="w-1/2 h-96 cursor-pointer  mr-auto ml-auto bg-cover flex items-center justify-center" style="background-image:url(assets/img/electronica.jpg);">
                <div class="bg-gray-800 bg-opacity-80">
                    <p class="text-gray-300 text-4xl font-semibold w-full p-10"> Desarrollos electrónicos </p>
                </div>
            </div>
        </div>
    </div>
</div>