<div class="h-screen flex items-center justify-center mr-auto ml-auto bg-gray-800">
    <div class="text-center">
        <img class="gsap-logo w-1/3 mr-auto ml-auto" src="assets/img/Logo.png" alt="Logo">
        <div class="gsap-contenido">
            <p class="text-white text-3xl block"> ¿Qué estás buscando? </p>
            <div class="mr-auto ml-auto mt-8 w-11/12 md:w-full">
                <button routerLink="/" class="border w-full md:w-auto border-gray-300 text-gray-300 p-2 rounded text-xl hover:text-yellow-300 hover:border-yellow-300"> Intro </button>
                <button routerLink="/products-services" class="border mt-4 md:mt-0 w-full md:w-auto border-gray-300 text-gray-300 p-2 rounded text-xl hover:text-yellow-300 hover:border-yellow-300 md:ml-3"> Productos y Servicios </button>
                <button routerLink="/about" class="border mt-4 md:mt-0 w-full md:w-auto border-gray-300 text-gray-300 p-2 rounded text-xl hover:text-yellow-300 hover:border-yellow-300 md:ml-3"> Sobre nosotros </button>
                <button routerLink="/contact" class="border mt-4 md:mt-0 w-full md:w-auto border-gray-300 text-gray-300 p-2 rounded text-xl hover:text-yellow-300 hover:border-yellow-300 md:ml-3"> Contáctanos </button>
            </div>
        </div>
    </div>
</div>