<div class="h-screen flex items-center justify-center">
    <div class="text-center">
        <img class="gsap-logo w-1/3 mr-auto ml-auto" src="assets/img/Logo.png" alt="Logo">
        <div class="gsap-contenido">
            <h1 class="text-gray-300 text:xl md:text-2xl"> Pronto estara disponible nuestro sitio web</h1>
            <h2 class="text-gray-300 font-semibold text-xl"> Muchas gracias! </h2>
            <button routerLink="/" class="mt-8 border border-gray-300 text-gray-300 p-2 rounded text-xl md:text-2xl hover:text-yellow-300 hover:border-yellow-300"> Regresar </button>
        </div>
    </div>
</div>